<div
    fxLayout="column"
    fxFill
    fxLayoutAlign="center center">
  <div class="login-container" fxLayout="column">
    <h1
        [ngClass.gt-xs]="'mat-display-1'"
        [ngClass.xs]="'mat-headline'">Investment Management App</h1>
     <form
        #form="ngForm"
        fxLayout="column"
        fxLayoutGap="15px"
        [formGroup]="loginForm"
        (ngSubmit)="login()">
      <mat-form-field  floatPlaceholder="never">
        <input
            mdInput
            formControlName="email"
            placeholder="Email">
        <mat-error *ngIf="loginForm.get('email').errors?.required">Please enter email.</mat-error>
        <mat-error *ngIf="loginForm.get('email').errors?.pattern">Please enter valid email.</mat-error>
      </mat-form-field>

      <mat-form-field  floatPlaceholder="never">
        <input
            mdInput
            type="password"
            formControlName="password"
            placeholder="Password">
        <mat-error *ngIf="loginForm.get('password').errors?.required">Please enter password.</mat-error>
      </mat-form-field>

      <button
          mat-raised-button
          color="accent"
          type="subtmit">Login
      </button>
    </form>

    <!-- Templater Driven Form -->
    <!-- <form #form="ngForm">
      <mat-form-field  [floatPlaceholder]="never">
        <input
            name="email"
            mdInput
            ngModel
            placeholder="Email"
            #email="ngModel"
            required>
        <mat-error *ngIf="email.errors?.required">Please enter email.</mat-error>
        <mat-error *ngIf="email.errors?.pattern">Please enter valid email.</mat-error>
      </mat-form-field>
    </form>-->
  </div>
</div>
