.message-content-container {
  display: flex;
  align-items: center;
  color: #fff;

  mat-icon {
    margin-right: 15px;
  }

  &.error-snackbar {
    mat-icon {
      color: #f44336;
    }
  }

  &.warning-snackbar {
    mat-icon {
      color: #8a6d3b;
    }
  }

  &.success-snackbar {
    mat-icon {
      color: #3c763d;
    }
  }

  &.info-snackbar {
    mat-icon {
      color: #31708f;
    }
  }
}
